# 配置文件
config.yaml

# 部署配置文件
scripts/deploy.config

# 编译产物
*.exe
*.exe~
*.dll
*.so
*.dylib

# 临时文件
*.tmp
*.temp
/tmp

# IDE 配置
.idea/
.vscode/
*.swp
*.swo
*~

# 日志文件
*.log
logs/
wechat-publisher
output/
data
